//Gör variabler
$primary-color: #191919;
$secondary-color: #1A9959;
$heading-color:#414141;

$light-grey:#6C6C6C;
$main-heading-color:#2E2E2E;

//Fonter
$primary-font: 'Noto Sans', sans-serif;

//Font-weight
$font-bold: 700;
$font-normal: 400;

//Font-size

$font-size-h2: 1.375rem;
$font-size-portrait-p: 0.875rem;

//Break-point

$breakpoint-ipad: 768px;
$breakpoint-desktop:1200px;