*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans";
}

p {
  color: #191919;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #1A9959;
}

ul {
  list-style: none;
  display: flex;
}

.main-nav {
  background-color: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
.main-nav .navbar1 {
  border-bottom: solid 1px #EFEFEF;
}
.main-nav .navbar1 .ul_klass1 {
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1400px) {
  .main-nav .navbar1 .ul_klass1 {
    padding: 1rem 5rem 1rem 5rem;
  }
}
.main-nav .navbar1 .ul_klass1 .li_klass .box {
  height: 34px;
  width: 34px;
  background-color: #000000;
}
.main-nav .navbar1 .ul_klass1 .li_klass .sign_in {
  margin-left: 6rem;
}
@media (min-width: 1400px) {
  .main-nav .navbar1 .ul_klass1 .li_klass .sign_in {
    margin-left: 60rem;
  }
}
.main-nav .navbar1 .ul_klass1 .li_klass .get_started {
  border: solid 1px #1A9959;
  border-radius: 5px;
  padding: 11px 18px 11px 18px;
  font-size: 13px;
}
.main-nav .navbar2 {
  overflow-x: scroll;
  display: flex;
}
.main-nav .navbar2 .ul_klass2 {
  padding: 1rem;
  align-items: center;
  flex: 1 0 auto;
}
@media (min-width: 1400px) {
  .main-nav .navbar2 .ul_klass2 {
    padding: 1rem 5rem 1rem 5rem;
  }
}
.main-nav .navbar2 .ul_klass2 .ux_planet {
  color: #414141;
  font-size: 20px;
  font-weight: 700;
}
.main-nav .navbar2 .ul_klass2 .a_tagg {
  margin: 0 0 0 2rem;
  color: #6C6C6C;
  font-size: 14px;
}

.main-container {
  max-width: 1300px;
  margin: auto;
}
.main-container .h1-main {
  padding: 2rem 0;
  border-bottom: solid 1px #EFEFEF;
  margin: 0 0.8rem 1rem 0.8rem;
  color: #414141;
}
@media (min-width: 768px) {
  .main-container .wrapper {
    display: flex;
  }
}
.main-container .wrapper .big-cards {
  padding: 0.8rem;
  font-family: "Noto Sans", sans-serif;
}
@media (min-width: 768px) {
  .main-container .wrapper .big-cards {
    flex: 0 0 50%;
  }
}
.main-container .wrapper .big-cards .big-img-box {
  height: 300px;
}
@media (min-width: 768px) {
  .main-container .wrapper .big-cards .big-img-box {
    height: 200px;
  }
}
.main-container .wrapper .big-cards .big-img-box .big-img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.main-container .wrapper .big-cards .h2-text-pic {
  padding-top: 1rem;
  line-height: 1.3;
  color: #2E2E2E;
  font-weight: 700;
  font-size: 1.375rem;
}
.main-container .wrapper .big-cards .p-text-pic {
  padding: 1.3rem 0;
  color: #191919;
  font-weight: 400;
}
.main-container .wrapper .big-cards .portrait-box {
  display: flex;
  width: 60px;
}
.main-container .wrapper .big-cards .portrait-box .img-portrait {
  width: 100%;
  display: block;
}
.main-container .wrapper .big-cards .portrait-box .portrait-text-box {
  flex: 1 0 auto;
  padding: 0.5rem;
}
.main-container .wrapper .big-cards .portrait-box .portrait-text-box .portrait-text-a {
  font-size: 0.875rem;
}
.main-container .wrapper .big-cards .portrait-box .portrait-text-box .portrait-text-p {
  padding-top: 0.2rem;
  color: #6C6C6C;
  font-size: 0.875rem;
}/*# sourceMappingURL=style.css.map */